<h1><%= @day.name() %></h1>
  <div>
  <% for deal in @deals %>
  <% if (deal.day_id == @day.id) %>
  <h2><a href="/restaurants/<%= deal.restaurant_id %>"><%= deal.restaurant.name %></a></h2>
  <p><a href="/deals/<%= deal.id %>"><%= deal.name %></a></p>
  <p> Description: <%= deal.description()%></p>
  <hr>
  <%end%>
  <%end%>
  </div>
  



   