<h1>Deals</h1>

<ul>
  <% for deal in @deals %>
  <li>
  <p><a href="/restaurants/<%= deal.restaurant_id%>"><%= deal.restaurant.name %></a></p>
  <p><a href="/deals/<%= deal.id %>"><%= deal.name %></a></p>
  <p><%= deal.description %></p>
  <p><%= deal.day.name %></p>
  
  </li>
  <hr>
  <% end %>
</ul>