<h1><%= @deal.name%></h1>
<p>Restaurant: <%= @deal.restaurant.name%></p>
<p>Day: <%= @deal.day.name%></p>
<p>Description: <%= @deal.description%></p>
<% for restaurant in @restaurants%>
<% if (restaurant.id == @deal.restaurant_id) %>
<p><a href="<%= restaurant.menu %>">Menu</a></p>
<%end%>
<%end%>

