<h1>Restaurants</h1>

<ul>
  <% for restaurant in @restaurants %>
  <li>
  <p><a href="/restaurants/<%= restaurant.id %>"><%= restaurant.name %></a></p>
  <p><a href="<%= restaurant.website %>">Website</a></p>
  <p><a href="<%= restaurant.menu %>">Menu</a></p>
  <h3>Deals</h3>
      <% for deal in @deals%>
      <% if (deal.restaurant_id == restaurant.id) %>
      <p><%= deal.day.name()%>: <a href="/deals/<%= deal.id %>"> <%= deal.name %></a></p>
      <%end%>
      <%end%>
      <hr>
      <%end%>
    </p>
  </li> 
</ul>