<h1>Restaurants</h1>

<ul>
  <% for restaurant in @restaurants %>
  <li>
  <p><a href="/restaurants/<%= restaurant.id %>"><%= restaurant.name %></a></p>
  <h3>Deals</h3>
      <% for deal in @deals%>
      <% if (deal.restaurant_id == restaurant.id) %>
      <p> <%= deal.day.name()%>: <a href="/deals/<%= deal.id %>"><%= deal.name %></p>
      <%end%>
      <%end%>
      <p><a href="<%= restaurant.menu %>">Menu</a></p>
      <%end%>

    </p>
  </li>
  
</ul>