<h1><%= @restaurant.name%></h1>
<p><a href="<%= @restaurant.menu %>">Menu</a></p>
  <div>
  <% for deal in @deals %>
  <% if (deal.restaurant_id == @restaurant.id) %>
  <p> Deal: <%= deal.name()%>
  </p>
  <p> Description: <%= deal.description()%>
  <p> Day: <%= deal.day.name()%></p>
  <hr/>
  <%end%>
  <%end%>
  </div>

